.FAB {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	right: 50px;
	bottom: 50px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-color: rgb(5, 5, 5);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: all 0.6s ease-in-out;
}

.FAB:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
	background-color: rgb(1, 1, 1);
	scale: 1.009;
}

.FAB.edit-btn-activated {
	width: 50px !important;
	height: 50px !important;
	right: 60px;
	bottom: 52px;
	font-size: 25px;
	background-color: rgb(15, 15, 15);
}
