.FAB {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	right: 3%;
	bottom: 6%;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-color: rgb(5, 5, 5);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.FAB:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
	background-color: rgb(1, 1, 1);
	scale: 1.009;
}
