.add {
	margin: 1em 0;
}

.add__title {
	font-family: var(--mono-font);
}

.add__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.add__group {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}

.add__label {
	font-family: var(--mono-font);
	font-weight: 700;
	margin-bottom: 0.7em;
}

.add__input {
	width: 100%;
	font-family: var(--mono-font) !important;
	font-size: 1.2em;
	padding: 0.6em 0.8em;
	background: #555;
	color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.add__content {
	width: 100%;
	height: 200px;
	font-family: var(--mono-font) !important;
	font-size: 1.2em;
	padding: 0.6em 0.8em;
	background: #555;
	color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	resize: vertical;
}

.add__btn {
	margin-top: 2em;
	padding: 0.7em 2em;
	font-size: 1.2em;
	font-weight: 900;
	background: #181818;
	border-radius: 18px;
	color: white;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
	transition: all 0.2s ease-in-out;
}

.add__btn:not(:disabled):hover {
	background: #131313;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.add__btn:disabled {
	opacity: 0.8;
	text-decoration: underline;
}
