.posts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 16px;
}

.title {
	margin: 0.8em 0;
	font-family: var(--oxanium-font);
	font-size: 1.7em;
}

.post-item {
	display: flex;
	flex-direction: column;
	padding: 1em;
	border: 1px solid #fff;
	margin: 0.8em 0;
	box-shadow: 0 0 10px rgba(15, 15, 15, 0.7);
	transition: all 0.2s ease-in-out;
}

.post:hover {
	box-shadow: 0 0 20px 5px rgba(15, 15, 15, 0.9);
}

.post-item__title {
	margin-bottom: 0.5em;
}

.post-item__content {
	font-size: 0.95em;
	line-height: 1.5;
}

.empty-warning {
	text-align: center;
	user-select: none;
	color: darkgray;
	font-weight: 700;
	margin-top: 100px;
	font-size: 1.5em;
	font-family: var(--mono-font);
	-webkit-user-select: none;
	pointer-events: none;
	-webkit-pointer-events: none;
}
